.cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thumbnail {
  width: 330px;
}

.thumbnail img {
  height: 270px;
}

.thumbnail .label{
  padding: 0.5em;
  font-size: 16px;
  margin: 0.5em 0;
  display: block;
  width: 35%;
  color: #000;
}
.card-description {
  height: 8em;
}