.card-wrapper .jumbotron {
  padding: 0;
  background-color: #fff;
  width: 49%;
}

.card {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.list-group {
  margin-top: 20px;
}

.counter-input {
  width: 115px;
  margin: 20px 0;
}

@media screen and (max-width: 768px){
  .card {
    display: flex; 
    flex-direction: column;
  }
  .card-wrapper .jumbotron {
    width: 100%;
  }
}

