.card-wrapper {
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .jumbotron {
      padding: 0;
      background-color: #fff;
      width: 49%;

      .label {
        padding: 0.5em;
        font-size: 16px;
        margin: 0.5em 0;
        display: block;
        width: 35%;
        color: #000;
      }

      .list-group {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .card-wrapper {
    .card {
      display: flex;
      flex-direction: column;

      .jumbotron {
        width: 100%;
      }
    }
  }
}
