.sort-wrap {
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .form-group {
      width: 45%;
      .label {
        padding: 6px 12px;
        font-size: 14px;
      }
      .form-control {
        margin-top: 10px;
      }
      .btn {
        margin: 5px 5px 0 0;
      }
    }
  }
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  .thumbnail {
    width: 330px;

    img {
      height: 270px;
    }

    .label {
      padding: 0.5em;
      font-size: 16px;
      margin: 0.5em 0;
      display: block;
      width: 35%;
      color: #000;
    }
  }
  .card-description {
    height: 8em;
  }
}

@media screen and (max-width: 980px) {
  .cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .thumbnail {
      margin: 25px;
    }
  }
}

@media screen and (max-width: 768px) {
  .cards-wrapper {
    .thumbnail {
      width: 400px;
    }
  }
}
