.navigation {
  display: flex;
  justify-content: center;
}

.nav-link {
  margin: 10px 0;
  width: 20%;
  text-align: center;
}

.nav-link a {
  width: 100%;
  display: block;
  padding: 10px 15px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.nav-link a:hover {
  opacity: 0.8;
}