.jumbotron {
  .service-section p {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .container {
    width: 100%;
    margin: 20px;

    .service-section {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      img {
        margin-left: 30px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: 20px;

    .service-section {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      img {
        width: 30%;
        height: 30%;
      }
    }
  }
}

@media screen and (max-width: 594px) {
  .container {
    .jumbotron {
      text-align: center;

      .service-section {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
          margin: 0 auto;
          width: 30%;
          height: 30%;
        }
      }

      button {
        margin: 30px;
      }
    }
  }
}
