@media screen and (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: 20px;

    img {
      width: 50%;
      height: 50%;
    }
  }
}

@media screen and (max-width: 594px) {
  .container {
    width: 100%;
    margin: 20px;

    img {
      width: 50%;
      height: 50%;
    }
  }
}
