.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #e4dede;
  margin: 20px 0;
}
.information, .copyright {
  text-align: center;
}

.container-footer .navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-footer > .navigation > .nav-link {
  width: 15%;
  margin: 5px 0;
  text-align: left;
}

.container-footer > .navigation > .nav-link > a {
  width: auto;
  display: flex;
  padding: 5px 15px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}